.searchbox {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 40px;
  background-color: #f7f9fa;
  width: 100vw;
}

.searchinput {
  /* max-width: 885px;
  min-width: 200px; */
  max-width: 100%;
  /* min-width: 240px; */
  height: 80px;
  /* margin: auto auto; */
}

.searchlabel {
  font-size: 1.5rem;
  font-weight: 300;
  width: 885px;
  align-self: center;
  
}

