body {
  background-color: #fcfcfc;
  margin: 0 auto;
  padding-top: 100px;
  color: #192532;
  display: flex;
}

.underBar {
  background-color: #f7f9fa;
  border-bottom: 1px solid grey;
  height: 80px;
  -webkit-box-shadow: 0 1px 3px -6px black;
  -moz-box-shadow: 0 1px 3px -6px black;
  box-shadow: 0 1px 3px -6px black;
  width: 100vw;
  z-index: 100;
  background: #f7f9fa;
}

.card-border {
  border-color: rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s linear;
}

.card-border:hover {
  border-color: cornflowerblue;
}

.nav-link {
  padding: 3.5px;
}

ol.breadcrumb {
  background-color: transparent;
  font-size: 14px;
  padding-left: 0;
}

.hero {
  max-width: 1000px;
  object-fit: fill;
  color: white;
  height: 360px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://source.unsplash.com/random/?construction/");
}

.popup__inline {
  display: inline;
}

.inline-asset-pdf {
  border: 1px solid #192532;
  border-radius: 0;
  border-left: 3px solid cornflowerblue;
  transition: all 0.3s ease;
  box-shadow: 0.5px 1px 3px 0.5px #ccc;
}

.inline-asset-pdf:hover {
  border: 1px solid #192532;
  border-radius: 0;
  border-left: 3px solid cornflowerblue;
  transform: scale(1.03);
}

/* sidebar css */
.article-toc {
  position: sticky;
  min-width: 237px;
  max-width: 320px;
  padding-left: 2rem;
  font-size: 16px;
  display: flex;
  top: 164px;
}

.toc {
  list-style: none;
  margin-top: 1rem;
  padding-bottom: 160px;
  padding-right: 32px;
  padding-left: 0;
  max-width: 288px;
}

.toc-header {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  width: 239px;
  text-decoration: none;
  color: #536171;
  font-weight: 600;
}

.toc-ul {
  margin-top: 8px;
  padding-left: 20px;
  list-style-type: none;
}

.toc-content {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  border-left: 2px solid rgb(205, 208, 209);
  color: #1925328c;
}

.toc-content:hover {
  border-color: #8091a5;
}

.toc-active {
  border-color: #4a90e2;
  color: #192532;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
