.nav__height {
  height: 100px;
  background-color: #192532;
  display: flex;
}

.nav__item-left {
  margin-right: auto;
  margin-left: 40px;
  color: white;
  text-decoration: none;
}

.nav__item-link {
  font-size: 16px;
  color: white;
  opacity: 0.6;
  transform: all 0.3s ease 0s;
  text-decoration: none;
  margin-right: auto;
  margin-left: auto;
}

.nav__item-active {
  opacity: 1;
}

.nav__item-link:hover {
  text-decoration: none;
  opacity: 1;
  color: white;
}


